%div.nested-form-attribute.{ 'data-name': attribute_name }
  %label.form-label= label
  %div.form-controls
    %div.nested-form-wrapper
      = form.fields_for :"#{attribute_name}", collection do |nested_form|
        = row(nested_form)
    %a.nested-form-add-row.uk-button.uk-button-success.uk-margin-small-top{ title: 'Add', 'data-uk-tooltip': '' }
      %i.uk-icon-plus

%script{ type: 'text/template', id: "nested-form-template-#{attribute_name}" }
  = row
