= simple_form_for @model do |f|
  - if @operation.policy.this_is_me?
    = f.input :firstname
    = f.input :lastname
    = f.input :email
  - if @operation.policy.admin?
    //.hidden
    = f.input :confirmed, as: :boolean
  = f.button :button, "Modifier"
