%div(class=css_classes)
  .thumb-picture= link_to concept("user/cell/decorator", model).(:thumb), concept('user/cell/decorator', model, current_user: current_user).(:path)
  %h3= concept('user/cell/decorator', model, current_user: current_user).(:linkname)
  %p= concept('user/cell/decorator', model, current_user: current_user).(:sum_up)
  %p= concept('user/cell/decorator', model, current_user: current_user).(:confirm_button)

  - if admin?
    %p
      %span= user_status
      %span= recommendations

