%p
  .text-center
    = search_form_for model, url: users_path, builder: SimpleForm::FormBuilder, html: { class: "form-inline" }  do |f|
      = erase_search
      = f.input :firstname_or_lastname_or_email_or_nickname_or_occupation_or_company_cont, as: :string, label: false, placeholder: "Par nom prénom…"
      = f.input :events_number_eq, label: false, placeholder: "Par année de course"
      = f.button :submit, "Rechercher", class: "btn-primary"
