.row
  .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
    = f.input :firstname, label: false, placeholder: "Prénom"
    = f.input :lastname, label: false, placeholder: "Nom"
    = f.input :email, label: false, placeholder: "Email"
%br

%p.text-center Deux anciens pouvant confirmer ton appartenance

.row
  .col-sm-10.col-sm-offset-1
    = f.simple_fields_for :recommenders do |u|
      .row
        .col-xs-4
          = u.input :firstname, label: false, placeholder: "Prénom"
        .col-xs-4
          = u.input :lastname, label: false, placeholder: "Nom"
        .col-xs-4
          = u.input :email, label: false, placeholder: "Email"

%br

.row
  .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
    = f.button :submit, "Envoyer", class: "btn-block btn-white"
