%h1 Hey, #{contract.firstname}
%p.lead Ton compte a été confirmé. Choisis maintenant ton mot de passe pour terminer ton inscription.

.row
  .col-md-6.col-md-offset-3
    = simple_form_for(contract, url: session_wake_up_path(id: params[:id]), method: :post) do |f|
      = f.error_notification

      = f.input :password
      = f.input :confirm_password

      = f.button :submit, "Enregistrer mon mot de passe", class: "btn-block btn-white"

      = f.input :confirmation_token, as: :hidden, input_html: {value: model.confirmation_token}

