%div.navmenu.navmenu-fixed-left.offcanvas#navMenu(role="navigation" class=css_classes)
  .navmenu-brand.text-center= title
  %ul.nav.navmenu-nav
    %li= menu_item("Accueil", root_path, "fa", "home", true)
    = categories
    %li= menu_item("Trombi", users_path, "fa", "book")

  %ul.nav.navmenu-nav.navmenu-bottom
    = pending_confirmations
    -if admin?
      %li= menu_item("Courseux non-confirmés", unconfirmed_users_path)

  .navmenu-bottom
    .item= menu_item("Profil", profile_path, "fa", "user")
    .item= menu_item("Déconnexion", sessions_sign_out_path, "fa", "sign-out")
.navbar.navbar-default.navbar-fixed-top
  = toggle_nav_button
  = new_post_button
  = help_button
