!!! 5
%html
  %head
    = render 'layouts/shared/meta'
    
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/shared/shim'

  %body.outside

    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .inner-cover
            .masthead
              = render 'layouts/shared/messages'
            = yield
