!!! 5
%html
  %head
    == render 'layouts/shared/meta'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'We are content'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'We are content'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    //= render 'layouts/offcanvas'
    = render 'layouts/shared/messages'
    = yield
    .container
      = yield :container
      .row
        .col-md-4.col-md-offset-4
          = yield :column
